@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind variants;
@tailwind components;
.badge {
  @apply inline-block px-2 py-1 rounded text-center;
  @apply text-sm font-bold  whitespace-nowrap align-baseline;
}
.badge-primary {
  @apply bg-blue-500 text-blue-100;
}
.badge-info {
  @apply bg-sky-500 text-sky-100;
}
.badge-success {
  @apply bg-green-500 text-green-100;
}
.badge-danger {
  @apply bg-red-500 text-red-100;
}

.btn, .btn-rounded {
  @apply px-5 py-2 text-secondary-lighter rounded whitespace-nowrap;
  @apply transition-colors delay-100 hover:bg-primary-dark hover:text-secondary-light;
  background: linear-gradient(201.54deg, #5d93ff 53.72%, #877eff 85.85%);
}

.btn-full {
  @apply w-full;
}

.btn-secondary {
  @apply bg-transparent text-gray-900 hover:bg-gray-300;
}

.btn-danger {
  @apply bg-red-600 text-secondary-lighter hover:bg-red-500;
}

.btn-rounded {
  @apply rounded-full px-8 py-1;
}

.form-group {
  @apply flex flex-col  mb-7;
}
.form-group label {
  @apply mb-3;
}

.form-control {
  @apply px-4 py-2 rounded-md border-2 border-secondary-darker text-primary-dark;
  @apply focus:outline-none focus:border-primary-base bg-secondary-lighter;
}

select.form-control {
  @apply appearance-none bg-no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: 0%;
  background-position-y: 0.5rem;
}

textarea.form-control {
  @apply max-h-40;
}

.invalid-feedback {
  @apply hidden w-full mt-1 text-sm text-red-600;
}

.form-control:invalid,
.form-control.is-invalid {
  @apply border-2 border-red-600 pl-9 bg-no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: left calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.is-invalid + .invalid-feedback {
  @apply block;
}

.search-group {
  @apply relative;
}
.search-group button {
  @apply absolute left-0 top-0 bottom-0 bg-primary-base flex justify-center items-center px-4 rounded-l;
}
.search-group button .icon {
  @apply w-4;
}
.search-group input[type=search] {
  @apply pl-14;
}

.modal {
  @apply w-screen h-screen bg-gray-800/40 fixed top-0 left-0 z-50;
  @apply flex justify-center items-center px-6;
  overscroll-behavior-y: contain;
  overflow: auto;
}
.modal-container {
  @apply bg-secondary-lighter text-primary-dark max-w-[35rem] w-full rounded;
}
.modal .title {
  @apply text-primary-darker;
}
.modal-header {
  @apply py-3 p-6 flex justify-between items-center shadow shadow-gray-300;
}
.modal-header .close-btn .icon {
  @apply w-8 h-8;
}
.modal-content {
  @apply py-4 px-6 min-h-[10rem] max-h-96 overflow-y-scroll;
}
.modal-footer {
  @apply px-6 py-3 shadow shadow-primary-light;
}

.table {
  @apply border shadow-primary-lighter shadow w-full rounded-lg;
}
.table-wrapper {
  @apply overflow-x-scroll w-full;
}
@media (max-width: 480px) {
  .table-wrapper {
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .table-wrapper {
    max-width: 300px;
  }
}
.table thead th {
  @apply bg-white p-4;
}
.table tbody td {
  @apply p-4 text-center whitespace-nowrap;
}
.table tbody tr:nth-of-type(odd) td {
  @apply bg-secondary-light;
}
.table tbody td.table-action button:first-of-type {
  @apply ml-3;
}
.table tbody img {
  max-width: 80px;
}
.table tbody .btn, .table tbody .btn-rounded {
  @apply text-sm;
}

.dashboard {
  @apply flex justify-between overflow-x-hidden;
}
.dashboard .sidebar {
  @apply flex-1;
}
.dashboard-content {
  @apply flex-1 pb-14;
}
.dashboard .section-header {
  @apply flex justify-between items-center my-8;
}

.nav {
  @apply mt-4 rounded-3xl shadow px-6 py-4 mx-9;
  @apply flex justify-between items-center;
}
.nav .menu-icon {
  @apply cursor-pointer;
}
.nav-end {
  @apply flex justify-between;
}
.nav-avatar img {
  @apply w-10 h-10 rounded-full inline-block mr-4;
}
.nav .notification {
  @apply flex items-center;
}
.nav .notification-icon {
  @apply w-5 h-5 relative;
}
.nav .notification-icon.active::before {
  content: "";
  @apply absolute top-0 left-3 w-2 h-2 bg-primary-base rounded-full;
}

.sidebar {
  @apply max-w-[15rem] w-full font-cairo whitespace-nowrap;
  @apply min-h-screen px-4 bg-primary-dark text-secondary-lighter;
}
.sidebar-brand {
  @apply mt-7 inline-block text-center w-full;
}
.sidebar .list {
  @apply mt-7;
}
.sidebar .list-item-link {
  @apply py-3 flex rounded items-center;
}
.sidebar .list-item-link.active {
  @apply relative bg-secondary-light text-primary-dark;
}
.sidebar .list-item-link.active .icon svg,
.sidebar .list-item-link.active .icon svg path {
  @apply fill-primary-base;
}
.sidebar .list-item-link.active::before {
  content: "";
  @apply absolute h-full bg-secondary-light rounded-l top-0 -right-5 w-2;
}
.sidebar .list-item-icon {
  @apply w-5 mx-5;
}
.sidebar .icon {
  @apply w-5 mx-5;
}
.sidebar .icon svg,
.sidebar .icon path {
  @apply fill-secondary-lighter;
}

body {
  @apply font-cairo;
}

svg {
  width: 100%;
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-base rounded-3xl;
}

.divided {
  @apply border-secondary-base my-10;
}

.icon {
  @apply cursor-pointer;
}

.container {
  @apply mx-auto px-8;
}
.container .container {
  width: 100%;
}
@media (min-width: 640px) {
  .container .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container .container {
    max-width: 1536px;
  }
}

.text-base {
  @apply text-primary-dark font-medium;
}

.text-large {
  @apply text-primary-dark text-lg font-medium;
}

.text-danger {
  @apply text-red-600 text-lg font-medium;
}

.manage-website .section {
  @apply max-w-3xl shadow-lg p-8 mt-10;
}

.pharmacy-profile {
  @apply mt-16 mx-9 shadow p-10 rounded-lg;
}
.pharmacy-profile .pharmacy-info {
  @apply flex flex-col justify-center lg:flex-row lg:justify-between gap-4;
}
.pharmacy-profile .profile-form {
  @apply flex-1 order-1;
}
.pharmacy-profile .profile-form .address-selects {
  @apply flex justify-between gap-5;
}
.pharmacy-profile .profile-form .address-selects select {
  @apply flex-1 mb-4;
}
.pharmacy-profile .upload-image {
  @apply mx-auto flex-auto lg:mx-4 text-center max-w-[12rem] lg:order-2;
}
.pharmacy-profile .upload-image .avatar {
  @apply border-8 border-secondary-light rounded;
}
.pharmacy-profile .upload-image .update-btn {
  @apply p-2 bg-secondary-light rounded-lg transform -translate-y-6;
}
.pharmacy-profile .upload-image .update-btn svg {
  @apply fill-primary-dark w-6 h-6;
}
.pharmacy-profile .contact-us-header {
  @apply flex items-center gap-4;
}
.pharmacy-profile .contact-us .item {
  @apply flex justify-between items-center mt-4;
}
.pharmacy-profile .contact-us .item .item__column {
  @apply flex gap-4 items-center;
}
.pharmacy-profile .social {
  @apply max-w-xl;
}
.pharmacy-profile .social .item {
  @apply flex items-center gap-4 mt-4 relative;
}
.pharmacy-profile .social .item .icon {
  @apply absolute top-1/2 right-4 transform -translate-y-1/2;
}
.pharmacy-profile .social .item input {
  @apply w-full pr-12;
  direction: ltr;
}
.pharmacy-profile .social .btn, .pharmacy-profile .social .btn-rounded {
  @apply mt-6;
}

.pharmacies {
  /********* page content ***********/
  /********* modal ***********/
}
.pharmacies-bg {
  min-height: 15rem;
  background-image: url("data:image/svg+xml;base64,PCEtLSBSZXBsYWNlIHRoZSBjb250ZW50cyBvZiB0aGlzIGVkaXRvciB3aXRoIHlvdXIgU1ZHIGNvZGUgLS0+Cgo8c3ZnIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI1OSIgdmlld0JveD0iMCAwIDE0NDAgMjU5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI1OSIgZmlsbD0iIzk2QkJGRiIgLz4KICAgICAgICA8cGF0aCBkPSJNMTMxLjE2MyA3NVYxMDEuMTYzSDEwNVYxMjEuODM3SDEzMS4xNjNWMTQ4SDE1MS44MzdWMTIxLjgzN0gxNzhWMTAxLjE2M0gxNTEuODM3Vjc1SDEzMS4xNjNaIgogICAgICAgICAgZmlsbD0iI0Y3RjlGRSIgZmlsbC1vcGFjaXR5PSIwLjg3IiAvPgogICAgICA8L3N2Zz4=");
}
.pharmacies-header {
  @apply flex flex-col md:flex-row md:justify-between md:items-center gap-4;
  @apply p-4 rounded-lg border border-gray-300/80 bg-secondary-light;
  @apply transform -translate-y-12 -mb-8 md:-mb-6;
}
.pharmacies-header .header-select {
  @apply flex justify-between items-center gap-2;
  @apply md:w-3/5 flex-col md:flex-row;
}
.pharmacies-header .header-input {
  @apply md:w-2/5;
}
.pharmacies .list {
  @apply mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6;
}
.pharmacies .list .item-header {
  @apply p-4 flex justify-start items-center gap-4 min-h-[9rem];
  @apply bg-secondary-light rounded-t-lg shadow-md;
}
.pharmacies .list .item-header:hover {
  @apply bg-primary-dark;
}
.pharmacies .list .item-header:hover * {
  @apply text-secondary-lighter;
}
.pharmacies .list .item-header:hover * .icon path {
  @apply stroke-secondary-lighter fill-secondary-lighter;
}
.pharmacies .list .item-logo {
  @apply rounded-lg border-4 border-secondary-dark h-20 w-20;
}
.pharmacies .list .item-title {
  @apply text-primary-darker text-lg;
  @apply break-all;
}
.pharmacies .list .item-address {
  @apply text-primary-dark text-xs flex items-center gap-3;
}
.pharmacies .list .item-address .icon {
  @apply w-3;
}
.pharmacies .list .item-link {
  @apply rounded-t-none;
}
.pharmacies .pharmacy-info {
  @apply flex items-center gap-2;
}
.pharmacies .pharmacy-info .pharmacy-sub-title {
  @apply text-xs;
}
.pharmacies .pharmacy-info .pharmacy-title {
  @apply text-lg text-primary-darker;
}
.pharmacies .image-file-upload {
  @apply mt-4;
}
.pharmacies .image-file-upload .file-upload {
  @apply border border-dashed border-secondary-darker p-6;
  @apply cursor-pointer;
}
.pharmacies .image-file-upload .file-upload .title {
  @apply text-center mt-4;
}
.pharmacies .image-file-upload .viewer-image {
  @apply w-4/5 mx-auto;
}
.pharmacies .image-file-upload form {
  @apply space-y-6;
}
.pharmacies .image-file-upload form .form-title {
  @apply text-primary-darker text-xl font-bold;
}
.pharmacies .image-file-upload form .form-description {
  @apply text-xs text-primary-base;
}
.pharmacies .image-file-upload form input[type=file] {
  @apply hidden;
}
.pharmacies .image-file-upload form textarea {
  @apply mt-4;
}
.pharmacies .image-file-upload form select,
.pharmacies .image-file-upload form input[type=text] {
  @apply mt-2;
}
.pharmacies .image-file-upload .description {
  @apply text-sm leading-5 mt-10;
}

.or {
  @apply relative flex justify-center my-4;
}
.or::before {
  content: "او";
  @apply bg-white rounded-full w-10 h-10 relative z-20;
  @apply flex justify-center items-center;
}
.or::after {
  content: "";
  @apply absolute top-1/2 left-0 h-[1px] w-full transform z-10;
  @apply bg-secondary-darker;
}