@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind variants;
@tailwind components;
.alert-box {
  @apply p-4 px-16 fixed bottom-8 left-5 bg-green-500 text-secondary-lighter;
  @apply rounded-lg border border-green-300 shadow text-white;
  @apply inline-block z-[1000];
}

.error {
  @apply p-1 text-sm text-red-700;
}

.badge {
  @apply inline-block px-2 py-1 rounded text-center;
  @apply text-xs font-bold  whitespace-nowrap align-baseline;
}
.badge-primary {
  @apply bg-[#f3f4f6] text-[#1f2937] border-[#1f2937]/30;
}
.badge-success {
  @apply bg-[#d1fae5] text-[#0d644b] border-[#0d644b]/30;
}
.badge-info {
  @apply bg-[#dbeafe] text-[#2849b3] border-[#2849b3]/30;
}
.badge-warning {
  @apply bg-[#fef3c7] text-[#92400e] border-[#92400e]/30;
}
.badge-danger {
  @apply bg-[#fee2e2] text-[#991b1b] border-[#991b1b]/30;
}

.btn, .btn-rounded,
button.t-btn {
  @apply px-5 py-2 text-secondary-lighter rounded whitespace-nowrap;
  @apply transition-colors delay-100 hover:bg-primary-dark hover:text-secondary-light;
  @apply bg-primary-dark;
}

.btn-rounded {
  @apply rounded-full px-8 py-1;
}

.btn-full {
  @apply w-full;
}

.btn-secondary {
  @apply bg-transparent text-gray-900 hover:bg-gray-300;
}

.btn-danger {
  @apply bg-red-600 text-secondary-lighter hover:bg-red-500;
}

.t-dropdown {
  @apply relative;
}
.t-dropdown-item {
  @apply absolute -bottom-9 left-1/2 transform -translate-x-1/2  bg-white;
  @apply py-1 rounded border border-gray-300 text-sm whitespace-nowrap;
}
.t-dropdown-item button {
  @apply px-4 py-1;
}
.t-dropdown-item button:hover {
  @apply bg-primary-base transition-colors text-secondary-lighter;
}

.t-footer {
  @apply bg-primary-darker py-4;
}
.t-footer .t-social {
  @apply flex justify-center gap-2 mt-2;
}
.t-footer .t-social img {
  @apply w-6;
}
.t-footer .t-links {
  @apply mt-4 flex gap-4 items-center justify-center;
}

.form-group {
  @apply flex flex-col  mb-7;
}
.form-group label {
  @apply mb-3;
}

.form-control {
  @apply px-4 py-2 rounded-md border-2 border-secondary-darker text-primary-dark;
  @apply focus:outline-none focus:border-primary-base bg-secondary-lighter;
}

select.form-control {
  @apply appearance-none bg-no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: 0%;
  background-position-y: 0.5rem;
}

textarea.form-control {
  @apply max-h-40;
}

.invalid-feedback {
  @apply hidden w-full mt-1 text-sm text-red-600;
}

.form-control:invalid,
.form-control.is-invalid {
  @apply border-2 border-red-600 pl-9 bg-no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: left calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.is-invalid + .invalid-feedback {
  @apply block;
}

.search-group {
  @apply relative;
}
.search-group button {
  @apply absolute left-0 top-0 bottom-0 bg-primary-base flex justify-center items-center px-4 rounded-l;
}
.search-group button .icon {
  @apply w-4;
}
.search-group input[type=search] {
  @apply pl-14;
}

.image-file-upload {
  @apply mt-4;
}
.image-file-upload .file-upload {
  @apply border border-dashed border-secondary-darker p-6;
  @apply cursor-pointer;
}
.image-file-upload .file-upload .title {
  @apply text-center mt-4;
}
.image-file-upload .viewer-image {
  @apply w-4/5 mx-auto max-w-[13rem];
}
.image-file-upload form {
  @apply space-y-6;
}
.image-file-upload form .form-title {
  @apply text-primary-darker text-xl font-bold;
}
.image-file-upload form .form-description {
  @apply text-xs text-primary-base;
}
.image-file-upload input[type=file] {
  @apply hidden;
}
.image-file-upload textarea {
  @apply mt-4;
}
.image-file-upload select,
.image-file-upload input[type=text] {
  @apply mt-2;
}
.image-file-upload .description {
  @apply text-sm leading-5 mt-10;
}

.t-modal {
  @apply w-screen h-screen bg-gray-800/40 fixed top-0 left-0 z-50;
  @apply hidden justify-center items-center px-6;
  overscroll-behavior-y: contain;
  overflow: auto;
}
.t-modal.open {
  @apply flex;
}
.t-modal-container {
  @apply bg-secondary-lighter text-primary-dark max-w-[35rem] w-full rounded;
}
.t-modal .title {
  @apply text-primary-darker;
}
.t-modal-header {
  @apply py-3 p-6 flex justify-between items-center shadow shadow-gray-300;
}
.t-modal-header .close-btn .icon {
  @apply w-8 h-8;
}
.t-modal-content {
  @apply py-4 px-6 min-h-[10rem] max-h-96 overflow-y-scroll;
}
.t-modal-footer {
  @apply px-6 py-3 shadow shadow-primary-light text-left;
}
.t-modal .t-description {
  @apply whitespace-normal mb-8;
}
.t-modal .t-zoom-img {
  @apply hidden;
  @apply fixed w-full h-full bg-gray-900/30 z-50 top-0 left-0 transition-all delay-200;
}
.t-modal .t-zoom-img img {
  @apply fixed top-1/2 left-1/2 transition-transform delay-200;
  transform: translate(-50%, -50%) scale(2);
  cursor: auto;
}
.t-modal .zoom-full.t-zoom-img {
  @apply block;
}

.t-notification {
  @apply flex items-center relative z-50;
}
.t-notification-counter {
  @apply absolute -top-2 left-3 rounded-full w-5 h-5 bg-primary-base px-1 text-sm;
  @apply text-white;
  @apply flex justify-center items-center;
}
.t-notification .t-notification-icon {
  @apply w-5 h-5 relative;
}
.t-notification-content-wrapper {
  @apply hidden bg-secondary-lighter  absolute top-0 left-0  min-w-[10rem];
  @apply rounded shadow w-[300px];
  transform: translate(0px, 40px);
}
.t-notification-content-wrapper .t-notification-header {
  @apply px-4 py-2 border border-secondary-light;
}
.t-notification-content-wrapper .t-notification-header .t-title {
  @apply text-sm;
}
.t-notification-content-wrapper .t-notification-footer {
  @apply p-2 flex justify-center items-center;
}
.t-notification-content-wrapper .t-notification-footer a {
  @apply w-full text-sm px-2 py-1 ring-1 ring-secondary-light rounded text-center;
}
.t-notification-content {
  @apply max-h-60 overflow-y-scroll;
}
.t-notification-content .t-item {
  @apply px-6 py-2 border-b border-secondary-light;
}
.t-notification-content .t-item-header {
  @apply flex gap-2 items-center;
}
.t-notification-content .t-user {
  @apply flex justify-between items-center;
}
.t-notification-content .t-name {
  @apply text-sm;
}
.t-notification-content .t-date {
  @apply text-xs text-secondary-darker;
}
.t-notification-content .t-avatar {
  @apply relative;
}
.t-notification-content .t-avatar img {
  @apply rounded-full border border-gray-200;
  @apply w-8 h-8 rounded-full;
}
.t-notification-content .t-avatar.is-not-read::after {
  @apply w-2 h-2 rounded-full bg-primary-dark absolute bottom-[2px] left-[2px];
  content: "";
}
.t-notification-content .t-desc {
  @apply mt-2 whitespace-normal text-sm text-primary-base;
}
.t-notification .is-open {
  @apply block;
}

.or {
  @apply relative flex justify-center my-4;
}
.or::before {
  content: "او";
  @apply bg-white rounded-full w-10 h-10 relative z-20;
  @apply flex justify-center items-center;
}
.or::after {
  content: "";
  @apply absolute top-1/2 left-0 h-[1px] w-full transform z-10;
  @apply bg-secondary-darker;
}

.t-order-details {
  @apply text-right flex flex-col gap-8;
}
.t-order-details .t-section-title {
  @apply text-lg font-bold;
}
.t-order-details-user {
  @apply flex gap-4 items-center;
}
.t-order-details-user img {
  @apply rounded-full w-16 h-16 object-cover;
}
.t-order-details-user .t-created-at {
  @apply text-primary-light;
}
.t-order-details-description .t-order-header {
  @apply flex gap-2 items-center;
}
.t-order-details-description p {
  @apply mt-4;
}
.t-order-details-description img.t-order-image {
  @apply mt-2 mx-auto max-w-[12rem];
  max-width: 200px;
  margin: auto;
}
.t-order-details-actions {
  @apply flex gap-4 mt-4;
}
.t-order-details-actions .btn, .t-order-details-actions .btn-rounded {
  @apply flex gap-2 items-center;
}

.t-order-details-status {
  @apply w-full;
}
.t-order-details-status .t-status {
  @apply bg-secondary-light text-primary-darker px-4 py-5 rounded-md flex gap-4 items-center;
  @apply flex-wrap;
}
.t-order-details-status .t-status-mark {
  @apply text-primary-base text-xl font-bold;
}
.t-order-details-status .t-status-heading {
  @apply whitespace-normal;
}
.t-order-details-status .t-status-pharmacy {
  @apply text-primary-darker m-1 font-semibold text-lg underline underline-offset-4 decoration-wavy;
}

.t-table-dropdown {
  @apply relative;
}
.t-table-dropdown.is-active {
  @apply block z-50;
}
.t-table-dropdown-menu-btn {
  @apply p-1 text-xl;
}
.t-table-dropdown-content {
  @apply absolute -top-10 left-0 bg-white rounded-lg px-2 py-1;
  @apply border border-secondary-light;
}
.t-table-dropdown-content div {
  @apply py-2;
}
.t-table-dropdown-content * + * {
  @apply border-t border-secondary-light;
}

.table {
  @apply border  w-full;
}
.table-wrapper {
  @apply overflow-x-scroll w-full min-h-[10rem] rounded-lg;
}
@media (max-width: 480px) {
  .table-wrapper {
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .table-wrapper {
    max-width: 300px;
  }
}
.table thead th {
  @apply bg-white p-4;
}
.table tbody td {
  @apply bg-white p-4 text-center whitespace-nowrap border-b border-primary-lighter/40;
}
.table tbody tr:nth-of-type(odd) td {
  @apply bg-secondary-lighter;
}
.table tbody td.table-action button:first-of-type {
  @apply ml-3;
}
.table tbody img {
  max-width: 80px;
}
.table tbody .btn, .table tbody .btn-rounded {
  @apply text-sm;
}

.wallet {
  @apply ml-5;
}
.wallet-box {
  @apply flex justify-center items-center gap-2 rounded-md bg-secondary-light border border-secondary-dark px-5 py-1;
}
.wallet-box span {
  @apply text-primary-dark;
}

.dashboard {
  @apply flex justify-between;
}
.dashboard .sidebar {
  @apply flex-1 sticky top-0;
}
.dashboard-content {
  @apply flex-1 pb-14 px-4 lg:px-10  overflow-x-hidden max-h-screen;
}
.dashboard-content main {
  @apply mt-10 min-h-full;
}
.dashboard .t-card {
  @apply p-4 bg-white rounded-lg;
}
.dashboard .section-header {
  @apply flex justify-between items-center mb-8;
}
.dashboard .section-header h1 {
  @apply text-xl;
}

body {
  @apply bg-secondary-lighter;
}

.t-nav-wrapper {
  @apply sticky top-0 z-[1000];
}

.nav {
  @apply shadow px-10 py-4 -mx-10;
  @apply flex justify-between items-center bg-white;
}
.nav .menu-icon {
  @apply cursor-pointer;
}
.nav-end {
  @apply flex justify-between items-center;
}
.nav-avatar img {
  @apply w-10 h-10 rounded-full inline-block mr-4;
}

.sidebar {
  @apply max-w-[15rem] w-full font-cairo whitespace-nowrap;
  @apply min-h-screen px-4 bg-primary-darker text-secondary-lighter;
}
.sidebar-logo {
  @apply mt-7 inline-block text-center w-full;
}
.sidebar-logo .t-title {
  @apply text-lg text-secondary-lighter font-bold;
}
.sidebar-logo .t-subtitle {
  @apply text-secondary-base font-normal text-sm relative top-1;
}
.sidebar .list {
  @apply mt-7;
}
.sidebar .list-item-link {
  @apply py-3 px-4 flex rounded items-center;
}
.sidebar .list-item-link.active {
  @apply relative bg-secondary-light text-primary-dark;
}
.sidebar .list-item-link.active .t-font-icon {
  @apply text-primary-base;
}
.sidebar .list-item-link.active .icon svg,
.sidebar .list-item-link.active .icon svg path {
  @apply fill-primary-base;
}
.sidebar .list-item-link.active::before {
  content: "";
  @apply absolute h-full bg-secondary-light rounded-l top-0 -right-5 w-2;
}
.sidebar .t-font-icon {
  @apply text-xl text-secondary-lighter ml-4;
}
.sidebar .icon {
  @apply w-6 ml-4;
}
.sidebar .icon ion-icon {
  @apply text-2xl;
}
.sidebar .icon svg,
.sidebar .icon path {
  @apply fill-secondary-lighter;
}

.livewire-security {
  @apply max-w-2xl;
}
.livewire-security h2 {
  @apply mb-4;
}

.page-chat section {
  @apply grid grid-cols-12 gap-8 min-h-[28rem];
}
.page-chat section .t-chat-sidebar {
  @apply col-span-4;
}
.page-chat section .t-chat-messages {
  @apply col-span-8;
}

.page-chat .t-chat-sidebar {
  @apply flex flex-col gap-4;
}
.page-chat .t-chat-sidebar .t-item {
  @apply flex gap-4 items-center p-2 px-4 rounded-lg;
  @apply hover:cursor-pointer;
}
.page-chat .t-chat-sidebar .t-item.is-active {
  @apply bg-secondary-light;
}
.page-chat .t-chat-sidebar .t-item-avatar {
  @apply relative bg-secondary-lighter rounded-full;
}
.page-chat .t-chat-sidebar .t-item-avatar img {
  @apply object-cover rounded-full;
}
.page-chat .t-chat-sidebar .t-item .t-item-message-count {
  @apply absolute -top-1 right-0 w-4 h-4 bg-primary-base text-secondary-light;
  @apply flex justify-center items-center rounded-full text-sm;
}
.page-chat .t-chat-sidebar .t-item-name {
  @apply w-full;
}
.page-chat .t-chat-sidebar .t-item-name header {
  @apply w-full flex justify-between;
}
.page-chat .t-chat-sidebar .t-item-title {
  @apply text-primary-darker;
}
.page-chat .t-chat-sidebar .t-item-time {
  @apply text-sm text-primary-lighter;
}
.page-chat .t-chat-messages-list {
  @apply max-h-96 overflow-x-hidden py-2;
  @apply border-t border-b border-gray-200;
}
.page-chat .t-chat-messages-list::-webkit-scrollbar {
  @apply w-0 opacity-0;
}
.page-chat .t-chat-messages .t-chat-messages-list {
  @apply min-h-[28rem];
}
.page-chat .t-chat-messages .t-time {
  @apply relative flex justify-center items-center mb-4;
}
.page-chat .t-chat-messages .t-time span {
  @apply text-gray-500 bg-white p-4 relative z-20;
  @apply text-sm;
}
.page-chat .t-chat-messages .t-time::after {
  content: "";
  @apply bg-gray-300 h-[1px] absolute top-1/2 left-0 transform -translate-y-1/2;
  @apply w-full z-10;
}
.page-chat .t-chat-messages .t-message {
  @apply flex gap-2 items-center mb-2;
}
.page-chat .t-chat-messages .t-message-avatar img {
  @apply object-cover rounded-full
      border-2
      border-secondary-lighter;
}
.page-chat .t-chat-messages .t-message-left {
  @apply flex-row-reverse text-left;
}
.page-chat .t-chat-messages .t-message-left .t-content p {
  @apply rounded-3xl rounded-bl-none bg-secondary-light text-primary-darker;
}
.page-chat .t-chat-messages .t-content p {
  @apply rounded-3xl rounded-br-none px-5 py-2;
  @apply bg-primary-base text-white text-sm;
  @apply max-w-xs self-end;
}
.page-chat .t-chat-messages-form {
  @apply border-none border-gray-300 relative;
}
.page-chat .t-chat-messages-form input {
  @apply w-full pl-24 border;
}
.page-chat .t-chat-messages-form-actions {
  @apply absolute left-4 top-1/2 transform -translate-y-1/2 flex items-center gap-1;
}
.page-chat .t-chat-messages-form .t-icon-send {
  @apply transform rotate-180 bg-primary-base p-1 rounded;
}
.page-chat .t-chat-messages-form .t-icon-send ion-icon {
  @apply text-white text-sm;
}
.page-chat .t-chat-messages-form ion-icon {
  @apply text-primary-base;
}

.page-invoice-profile {
  @apply mt-8;
}
.page-invoice-profile .t-wallet-wrapper {
  @apply flex justify-end items-center;
}
.page-invoice-profile .t-wallet {
  @apply flex justify-end items-center gap-2 bg-secondary-lighter py-1 px-5 border border-secondary-light rounded-md;
}
.page-invoice-profile .t-bg {
  @apply min-h-[20rem] bg-primary-light rounded-lg;
}
.page-invoice-profile .t-header {
  @apply px-12 transform -translate-y-14 flex gap-10 items-end;
}
.page-invoice-profile .t-header .t-avatar {
  @apply w-36 ring-8 ring-white rounded bg-gray-50;
}
.page-invoice-profile .t-header .t-user-name {
  @apply flex items-center gap-3;
}
.page-invoice-profile .t-header .t-user-desc {
  @apply mt-4 flex gap-14;
}
.page-invoice-profile .t-header .t-user-desc .t-item {
  @apply flex gap-3 items-center;
}

.page-invoice-profile .t-content {
  @apply mt-8 bg-white;
}
.page-invoice-profile .t-content header {
  @apply flex gap-3 items-center;
}
.page-invoice-profile .t-content header .t-heading {
  @apply text-2xl font-semibold;
}
.page-invoice-profile .t-content .t-log-data {
  @apply ring-1 ring-gray-200 p-8 rounded-lg;
}
.page-invoice-profile .t-content .t-log-data .t-font-icon {
  @apply text-primary-base text-2xl;
}
.page-invoice-profile .t-content .t-list {
  @apply mt-8 border-r border-gray-300 space-y-12;
}
.page-invoice-profile .t-content .t-item {
  @apply pr-8  relative;
}
.page-invoice-profile .t-content .t-item-header {
  @apply flex justify-between;
}
.page-invoice-profile .t-content .t-item-header h4 {
  @apply text-lg font-semibold flex  items-center;
}
.page-invoice-profile .t-content .t-item-header h4::before {
  @apply w-4 h-4 rounded-full bg-red-500  absolute top-2 -right-2 ring-8 ring-red-500/10;
  content: "";
}
.page-invoice-profile .t-content .t-item-header .t-date {
  @apply text-gray-500;
}
.page-invoice-profile .t-content .t-item .t-desc {
  @apply mt-8 max-h-[100px] overflow-hidden;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.animate__animated.animate__infinite {
  animation-iteration-count: infinite;
}

.animate__animated.animate__repeat-1 {
  animation-iteration-count: var(--animate-repeat);
}

.animate__animated.animate__repeat-2 {
  animation-iteration-count: calc(var(--animate-repeat) * 2);
}

.animate__animated.animate__repeat-3 {
  animation-iteration-count: calc(var(--animate-repeat) * 3);
}

.animate__animated.animate__delay-1s {
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2s {
  animation-delay: calc(var(--animate-delay) * 2);
}

.animate__animated.animate__delay-3s {
  animation-delay: calc(var(--animate-delay) * 3);
}

.animate__animated.animate__delay-4s {
  animation-delay: calc(var(--animate-delay) * 4);
}

.animate__animated.animate__delay-5s {
  animation-delay: calc(var(--animate-delay) * 5);
}

.animate__animated.animate__faster {
  animation-duration: calc(var(--animate-duration) / 2);
}

.animate__animated.animate__fast {
  animation-duration: calc(var(--animate-duration) * 0.8);
}

.animate__animated.animate__slow {
  animation-duration: calc(var(--animate-duration) * 2);
}

.animate__animated.animate__slower {
  animation-duration: calc(var(--animate-duration) * 3);
}

.animate__bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes bounce {
  from, 20%, 53%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
body {
  @apply font-cairo;
}

svg {
  width: 100%;
}

ion-icon {
  @apply text-xl;
}

.t-font-icon,
.icon {
  @apply flex items-center;
}

a .t-font-icon,
a .icon {
  @apply cursor-pointer;
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-base rounded-3xl;
}

.divided {
  @apply border-secondary-base my-10;
}

.container {
  @apply mx-auto pl-8;
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 98%;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.t-param-error {
  direction: ltr;
  @apply fixed inset-0 w-full h-full bg-gray-800 p-20 flex justify-center items-center flex-col;
  @apply z-[1000] text-xl text-center;
}
.t-param-error strong {
  @apply text-2xl text-green-600;
}
.t-param-error strong::after {
  content: " component param messing. bro you need to pass";
}
.t-param-error span {
  @apply font-bold text-red-600;
}
.t-param-error span::before {
  content: "$";
}
.t-param-error::after {
  @apply block text-white mt-8;
  content: " check your code again 😅";
}

.t-mt-8 {
  @apply mt-8;
}

.text-base {
  @apply text-primary-dark font-medium;
}

.text-large {
  @apply text-primary-dark text-lg font-medium;
}

.text-danger {
  @apply text-red-600 text-lg font-medium;
}

.page-ads form.t-edit-ads {
  @apply text-center;
}
.page-ads form.t-delete-ads {
  @apply text-center;
}
.page-ads form.t-delete-ads img {
  @apply text-center inline-block mt-8;
}

.page-admin-report .t-chart {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
}
.page-admin-report .t-chart-item {
  @apply border border-secondary-base border-dashed p-4 rounded;
}
.page-admin-report .t-chart-item canvas {
  @apply w-full max-h-[400px];
}
.page-admin-report .t-chart-item:nth-of-type(4) {
  @apply lg:col-span-3;
}
.page-admin-report .t-chart-title {
  @apply text-primary-base text-xl mb-4;
}

.manage-website .section {
  @apply max-w-3xl shadow-lg p-8 mt-10;
}

.page-pharmacy-profile .t-pharmacy-content {
  @apply mt-8;
}
.page-pharmacy-profile .pharmacy-info {
  @apply flex flex-col justify-center lg:flex-row lg:justify-between gap-4;
}
.page-pharmacy-profile .profile-form {
  @apply flex-1 order-1;
}
.page-pharmacy-profile .profile-form .address-selects {
  @apply flex justify-between gap-5;
}
.page-pharmacy-profile .profile-form .address-selects select {
  @apply flex-1 mb-4;
}
.page-pharmacy-profile .upload-image {
  @apply mx-auto flex-auto lg:mx-4 text-center max-w-[12rem] lg:order-2;
}
.page-pharmacy-profile .upload-image .avatar {
  @apply border-8 border-secondary-light rounded;
}
.page-pharmacy-profile .upload-image .update-btn {
  @apply p-2 bg-secondary-light rounded-lg transform -translate-y-6;
}
.page-pharmacy-profile .upload-image .update-btn svg {
  @apply fill-primary-dark w-6 h-6;
}
.page-pharmacy-profile .contact-us-header {
  @apply flex items-center gap-4;
}
.page-pharmacy-profile .contact-us .item {
  @apply flex justify-between items-center mt-4;
}
.page-pharmacy-profile .contact-us .item .item__column {
  @apply flex gap-4 items-center;
}
.page-pharmacy-profile .social {
  @apply max-w-xl;
}
.page-pharmacy-profile .social .item {
  @apply flex items-center gap-4 mt-4 relative;
}
.page-pharmacy-profile .social .item .icon {
  @apply absolute top-1/2 right-4 transform -translate-y-1/2;
}
.page-pharmacy-profile .social .item input {
  @apply w-full pr-12;
  direction: ltr;
}
.page-pharmacy-profile .social .btn, .page-pharmacy-profile .social .btn-rounded {
  @apply mt-6;
}
.page-pharmacy-profile .t-disable-account {
  @apply mt-4;
}

.page-invoice .divided {
  @apply border-gray-200 my-5;
}
.page-invoice .t-header .t-title {
  @apply text-4xl;
}
.page-invoice .t-header .t-invoice-info {
  @apply mt-6 flex gap-8;
}
.page-invoice .t-header .t-item-key {
  @apply text-gray-400;
}
.page-invoice .t-header .t-item-value {
  @apply text-gray-700;
}
.page-invoice .t-invoice-desc {
  @apply mt-8 flex gap-40;
}
.page-invoice .t-invoice-desc .t-item {
  @apply space-y-3;
}
.page-invoice .t-invoice-desc .t-item * {
  @apply flex gap-4 items-center;
}
.page-invoice .t-invoice-desc .t-item * .icon {
  @apply w-4;
}
.page-invoice .t-invoice-desc .t-item .t-title {
  @apply text-gray-500;
}
.page-invoice .t-invoice-desc .t-item .t-name {
  @apply text-xl font-semibold;
}
.page-invoice .t-total {
  @apply px-8 space-y-2;
}
.page-invoice .t-total .t-item {
  @apply max-w-[20rem];
  @apply flex justify-between items-center;
}
.page-invoice .t-total .t-key {
  @apply text-gray-500;
}
.page-invoice .t-total .t-price {
  @apply text-primary-dark font-semibold text-xl;
}

.page-invoice table {
  @apply mt-8;
  @apply border shadow-gray-100 shadow w-full rounded-lg;
}
.page-invoice table thead th {
  @apply bg-white p-4;
}
.page-invoice table tbody td {
  @apply p-4 text-center whitespace-nowrap;
}
.page-invoice table tbody tr:nth-of-type(odd) td {
  @apply bg-gray-100;
}
.page-invoice table tbody img {
  max-width: 80px;
}

.page-quotation-details .t-address {
  @apply my-6 flex gap-4 items-center;
}
.page-quotation-details .t-address select {
  @apply px-8 inline-block;
}
.page-quotation-details .t-form {
  @apply mt-4;
}

.page-create-quotation {
  @apply bg-secondary-lighter;
}
.page-create-quotation .t-header {
  @apply pb-8 text-lg  text-primary-darker;
}
.page-create-quotation .t-order-details {
  @apply flex justify-between flex-row;
}
.page-create-quotation .t-order-details .t-user-info {
  @apply mt-4;
}
.page-create-quotation .t-order-details .t-order-image {
  @apply max-w-xs rounded-lg overflow-hidden;
}
.page-create-quotation .t-form-group {
  @apply flex flex-col;
}
.page-create-quotation .t-form-group label {
  @apply mb-4 inline-block;
}
.page-create-quotation .t-order-item {
  @apply flex flex-col lg:flex-row  gap-4 lg:gap-5;
}
.page-create-quotation .t-form-btn-action {
  @apply w-[82%];
}
.page-create-quotation .t-btn-add-new {
  @apply flex items-center mb-4 mt-8;
}
.page-create-quotation .t-btn-add-new::before {
  content: "";
  @apply w-full bg-primary-base h-[2px];
}
.page-create-quotation .t-btn-remove-item {
  @apply flex items-end w-10;
}
.page-create-quotation .t-btn-remove-item .icon {
  @apply w-6;
}
.page-create-quotation .t-form-btn {
  @apply flex justify-center;
}
.page-create-quotation .divided {
  @apply my-4;
}

.page-pharmacy-orders .t-profile {
  @apply rounded-full w-10 h-10 border-primary-light border;
}

.page-contact-us {
  @apply relative z-10 overflow-hidden bg-secondary-lighter/80 py-20 lg:py-[120px];
  @apply mx-auto flex flex-wrap lg:justify-between;
  @apply md:flex justify-between gap-16;
}
.page-contact-us .t-content {
  @apply px-4 py-2;
}
.page-contact-us .t-title {
  @apply text-2xl text-primary-dark font-semibold mb-4;
}
.page-contact-us .t-item {
  @apply flex-1;
}
.page-contact-us .t-form-wrapper {
  @apply relative rounded-lg bg-white p-8 shadow-lg sm:p-12;
}
.page-contact-us form label {
  @apply mb-2 text-sm text-primary-dark;
}
.page-contact-us form > div {
  @apply mb-4;
}
.page-contact-us .t-bg-icons span {
  @apply absolute z-[-1];
}
.page-contact-us .t-bg-icons span:nth-of-type(1) {
  @apply -top-10 -right-9;
}
.page-contact-us .t-bg-icons span:nth-of-type(2) {
  @apply -right-10 top-[90px];
}
.page-contact-us .t-bg-icons span:nth-of-type(3) {
  @apply -left-7 -bottom-7;
}

.page-pharmacy-profile .t-bg {
  @apply h-80 bg-secondary-darker;
}
.page-pharmacy-profile .t-content {
  @apply max-w-2xl bg-secondary-lighter text-primary-darker;
  @apply mx-auto transform -translate-y-40 p-8;
}
.page-pharmacy-profile .t-content .t-pharmacy-logo {
  @apply text-center transform -translate-y-28 flex justify-center;
}
.page-pharmacy-profile .t-content .t-pharmacy-logo img {
  @apply w-40 h-40 rounded border-8 border-primary-lighter;
}
.page-pharmacy-profile .t-content .t-about {
  @apply text-center -mt-12;
}
.page-pharmacy-profile .t-content .t-header {
  @apply text-3xl text-primary-darker font-extrabold;
}
.page-pharmacy-profile .t-content .t-address {
  @apply flex items-center gap-2 justify-center mt-4;
}
.page-pharmacy-profile .t-content .t-social {
  @apply flex gap-4;
}

.pharmacies {
  /********* page content ***********/
  /********* modal ***********/
}
.pharmacies-bg {
  min-height: 15rem;
  background-image: url("data:image/svg+xml;base64,PCEtLSBSZXBsYWNlIHRoZSBjb250ZW50cyBvZiB0aGlzIGVkaXRvciB3aXRoIHlvdXIgU1ZHIGNvZGUgLS0+Cgo8c3ZnIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI1OSIgdmlld0JveD0iMCAwIDE0NDAgMjU5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjI1OSIgZmlsbD0iIzk2QkJGRiIgLz4KICAgICAgICA8cGF0aCBkPSJNMTMxLjE2MyA3NVYxMDEuMTYzSDEwNVYxMjEuODM3SDEzMS4xNjNWMTQ4SDE1MS44MzdWMTIxLjgzN0gxNzhWMTAxLjE2M0gxNTEuODM3Vjc1SDEzMS4xNjNaIgogICAgICAgICAgZmlsbD0iI0Y3RjlGRSIgZmlsbC1vcGFjaXR5PSIwLjg3IiAvPgogICAgICA8L3N2Zz4=");
}
.pharmacies-header {
  @apply flex flex-col md:flex-row md:justify-between md:items-center gap-4;
  @apply p-4 rounded-lg border border-gray-300/80 bg-secondary-light;
  @apply transform -translate-y-12 -mb-8 md:-mb-6;
}
.pharmacies-header .header-select {
  @apply flex justify-between items-center gap-2;
  @apply md:w-3/5 flex-col md:flex-row;
}
.pharmacies-header .header-input {
  @apply md:w-2/5;
}
.pharmacies .list {
  @apply mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6;
}
.pharmacies .list .item-header {
  @apply p-4 flex justify-start items-center gap-4 min-h-[9rem];
  @apply bg-secondary-light rounded-t-lg shadow-md;
}
.pharmacies .list .item-header:hover {
  @apply bg-secondary-dark/70;
}
.pharmacies .list .item-logo {
  @apply rounded-lg border-4 border-secondary-dark h-20 w-20;
}
.pharmacies .list .item-title {
  @apply text-primary-darker text-lg;
  @apply break-all;
}
.pharmacies .list .item-address {
  @apply text-primary-dark text-xs flex items-center gap-3;
}
.pharmacies .list .item-address .icon {
  @apply w-3;
}
.pharmacies .list .item-link {
  @apply rounded-t-none;
}
.pharmacies .list .item-link:hover {
  @apply bg-gradient-to-tr from-primary-base to-primary-darker;
}
.pharmacies .pharmacy-info {
  @apply flex items-center gap-2;
}
.pharmacies .pharmacy-info .pharmacy-sub-title {
  @apply text-xs;
}
.pharmacies .pharmacy-info .pharmacy-title {
  @apply text-lg text-primary-darker;
}