body {
  @apply font-cairo;
}

svg {
  width: 100%;
}

ion-icon {
  @apply text-xl;
}

.t-font-icon,
.icon {
  @apply flex items-center;
  // @apply cursor-pointer;
}

a {
  .t-font-icon,
  .icon {
    @apply cursor-pointer;
  }
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}

// ::-webkit-scrollbar-track {

// }

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-base rounded-3xl;
}

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #a0aec0;
// }

.divided {
  @apply border-secondary-base my-10;
}

.container {
  @apply mx-auto pl-8;

  width: 100%;

  @media (min-width: 640px) {
    max-width: 98%;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

.t-param-error {
  direction: ltr;
  @apply fixed inset-0 w-full h-full bg-gray-800 p-20 flex justify-center items-center flex-col;
  @apply z-[1000] text-xl text-center;

  strong {
    @apply text-2xl text-green-600;

    &::after {
      content: ' component param messing. bro you need to pass';
    }
  }

  span {
    &::before {
      content: '$';
    }

    @apply font-bold text-red-600;
  }

  &::after {
    @apply block text-white mt-8;
    content: ' check your code again 😅';
  }
}

.t-mt-8 {
  @apply mt-8;
}
